In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
import os
os.environ["HADOOP_HOME"] = "C:/hadoop"

In [2]:
spark = (SparkSession.builder.appName("PySparkDFPractice").config("spark.hadoop.home", "C:\hadoop").getOrCreate())

In [3]:
data = [("James","","Smith","36636","M",3000),
    ("Michael","Rose","","40288","M",4000),
    ("Robert","","Williams","42114","M",4000),
    ("Maria","Anne","Jones","39192","F",4000),
    ("Jen","Mary","Brown","","F",-1)
  ]

In [4]:
type(data)

list

In [5]:
schema = StructType([
    StructField("firstname", StringType(), True),
    StructField("middlename", StringType(), True),
    StructField("lastname", StringType(), True),
    StructField("id", StringType(), True),
    StructField("gender", StringType(), True),
    StructField("salary", IntegerType(), True)
])

In [6]:
df = spark.createDataFrame(data=data, schema=schema)
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [7]:
df.show()

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|   id|gender|salary|
+---------+----------+--------+-----+------+------+
|    James|          |   Smith|36636|     M|  3000|
|  Michael|      Rose|        |40288|     M|  4000|
|   Robert|          |Williams|42114|     M|  4000|
|    Maria|      Anne|   Jones|39192|     F|  4000|
|      Jen|      Mary|   Brown|     |     F|    -1|
+---------+----------+--------+-----+------+------+

In [8]:
df.show(truncate = False)

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|id   |gender|salary|
+---------+----------+--------+-----+------+------+
|James    |          |Smith   |36636|M     |3000  |
|Michael  |Rose      |        |40288|M     |4000  |
|Robert   |          |Williams|42114|M     |4000  |
|Maria    |Anne      |Jones   |39192|F     |4000  |
|Jen      |Mary      |Brown   |     |F     |-1    |
+---------+----------+--------+-----+------+------+

In [9]:
file_path = "./testdata/fire-incidents/fire-incidents.csv"
fire_df = (spark.read.format("csv")
           .option("header", True)
           .option("inferSchema", True)
           .load(file_path))

In [10]:
fire_df.select("IncidentNumber","IncidentDate","City")

DataFrame[IncidentNumber: int, IncidentDate: timestamp, City: string]

In [11]:
fire_df.printSchema()

root
 |-- IncidentNumber: integer (nullable = true)
 |-- ExposureNumber: integer (nullable = true)
 |-- ID: integer (nullable = true)
 |-- Address: string (nullable = true)
 |-- IncidentDate: timestamp (nullable = true)
 |-- CallNumber: integer (nullable = true)
 |-- AlarmDtTm: timestamp (nullable = true)
 |-- ArrivalDtTm: timestamp (nullable = true)
 |-- CloseDtTm: timestamp (nullable = true)
 |-- City: string (nullable = true)
 |-- ZIPCode: string (nullable = true)
 |-- Battalion: string (nullable = true)
 |-- StationArea: string (nullable = true)
 |-- Box: string (nullable = true)
 |-- SuppressionUnits: integer (nullable = true)
 |-- SuppressionPersonnel: integer (nullable = true)
 |-- EMSUnits: integer (nullable = true)
 |-- EMSPersonnel: integer (nullable = true)
 |-- OtherUnits: integer (nullable = true)
 |-- OtherPersonnel: integer (nullable = true)
 |-- FirstUnitOnScene: string (nullable = true)
 |-- EstimatedPropertyLoss: integer (nullable = true)
 |-- EstimatedContentsLoss: double (nullable = true)
 |-- FireFatalities: integer (nullable = true)
 |-- FireInjuries: integer (nullable = true)
 |-- CivilianFatalities: integer (nullable = true)
 |-- CivilianInjuries: integer (nullable = true)
 |-- NumberofAlarms: integer (nullable = true)
 |-- PrimarySituation: string (nullable = true)
 |-- MutualAid: string (nullable = true)
 |-- ActionTakenPrimary: string (nullable = true)
 |-- ActionTakenSecondary: string (nullable = true)
 |-- ActionTakenOther: string (nullable = true)
 |-- DetectorAlertedOccupants: string (nullable = true)
 |-- PropertyUse: string (nullable = true)
 |-- AreaofFireOrigin: string (nullable = true)
 |-- IgnitionCause: string (nullable = true)
 |-- IgnitionFactorPrimary: string (nullable = true)
 |-- IgnitionFactorSecondary: string (nullable = true)
 |-- HeatSource: string (nullable = true)
 |-- ItemFirstIgnited: string (nullable = true)
 |-- HumanFactorsAssociatedwithIgnition: string (nullable = true)
 |-- StructureType: string (nullable = true)
 |-- StructureStatus: string (nullable = true)
 |-- FloorofFireOrigin: integer (nullable = true)
 |-- FireSpread: string (nullable = true)
 |-- NoFlameSpead: string (nullable = true)
 |-- Numberoffloorswithminimumdamage: integer (nullable = true)
 |-- Numberoffloorswithsignificantdamage: integer (nullable = true)
 |-- Numberoffloorswithheavydamage: integer (nullable = true)
 |-- Numberoffloorswithextremedamage: integer (nullable = true)
 |-- DetectorsPresent: string (nullable = true)
 |-- DetectorType: string (nullable = true)
 |-- DetectorOperation: string (nullable = true)
 |-- DetectorEffectiveness: string (nullable = true)
 |-- DetectorFailureReason: string (nullable = true)
 |-- AutomaticExtinguishingSystemPresent: string (nullable = true)
 |-- AutomaticExtinguishingSytemType: string (nullable = true)
 |-- AutomaticExtinguishingSytemPerfomance: string (nullable = true)
 |-- AutomaticExtinguishingSytemFailureReason: string (nullable = true)
 |-- NumberofSprinklerHeadsOperating: integer (nullable = true)
 |-- SupervisorDistrict: integer (nullable = true)
 |-- AnalysisNeighborhood: string (nullable = true)
 |-- point: string (nullable = true)
 |-- NeighborhoodsOld: integer (nullable = true)
 |-- ZipCodes: integer (nullable = true)
 |-- FirePreventionDistricts: integer (nullable = true)
 |-- PoliceDistricts: integer (nullable = true)
 |-- SupervisorDistricts: integer (nullable = true)
 |-- CivicCenterHarmReductionProjectBoundary: integer (nullable = true)
 |-- 2017FixItZones: integer (nullable = true)
 |-- HSOCZones: integer (nullable = true)
 |-- CentralMarketTenderloinBoundary: integer (nullable = true)
 |-- CentralMarketTenderloinBoundaryPolygonUpdated: integer (nullable = true)
 |-- HSOCZonesasof20180605: integer (nullable = true)
 |-- Neighborhoods: integer (nullable = true)
 |-- SFFindNeighborhoods: integer (nullable = true)
 |-- CurrentPoliceDistricts: integer (nullable = true)
 |-- CurrentSupervisorDistricts: integer (nullable = true)
 |-- AnalysisNeighborhoods: integer (nullable = true)

In [13]:
output_path = 'C:/Users/britn/sparktest/sparkdf/data/output/fireincidents'
fire_df.write.mode("overwrite").csv(".data/output/fireincidents.csv", header = False)

Py4JJavaError: An error occurred while calling o65.csv.
: java.lang.UnsatisfiedLinkError: org.apache.hadoop.io.nativeio.NativeIO$Windows.access0(Ljava/lang/String;I)Z
	at org.apache.hadoop.io.nativeio.NativeIO$Windows.access0(Native Method)
	at org.apache.hadoop.io.nativeio.NativeIO$Windows.access(NativeIO.java:793)
	at org.apache.hadoop.fs.FileUtil.canRead(FileUtil.java:1249)
	at org.apache.hadoop.fs.FileUtil.list(FileUtil.java:1454)
	at org.apache.hadoop.fs.RawLocalFileSystem.listStatus(RawLocalFileSystem.java:601)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:1972)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:2014)
	at org.apache.hadoop.fs.ChecksumFileSystem.listStatus(ChecksumFileSystem.java:761)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:1972)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:2014)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.getAllCommittedTaskPaths(FileOutputCommitter.java:334)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJobInternal(FileOutputCommitter.java:404)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJob(FileOutputCommitter.java:377)
	at org.apache.spark.internal.io.HadoopMapReduceCommitProtocol.commitJob(HadoopMapReduceCommitProtocol.scala:192)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.$anonfun$writeAndCommit$3(FileFormatWriter.scala:275)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.Utils$.timeTakenMs(Utils.scala:552)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.writeAndCommit(FileFormatWriter.scala:275)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.executeWrite(FileFormatWriter.scala:304)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:190)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:190)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:113)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:111)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.executeCollect(commands.scala:125)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:142)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:859)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:388)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:361)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:240)
	at org.apache.spark.sql.DataFrameWriter.csv(DataFrameWriter.scala:850)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Thread.java:748)

## Working with Structureed Operations

Reading a JSON file

In [16]:
from pyspark.sql.types import ArrayType, DateType, BooleanType, FloatType

In [23]:
schema_person = StructType ([
    StructField("ID",IntegerType(), True),
    StructField("first_name",StringType(), True),
    StructField("last_name",StringType(), True),
    StructField("fav_movies",ArrayType(StringType()), True),
    StructField("salary",FloatType(), True),
    StructField("image_URL",StringType(), True),
    StructField("date_of_birth",DateType(), True),
    StructField("active",BooleanType(), True)
])

In [24]:
json_file_path = "./data/persons/persons.json"
person_df = spark.read.json(json_file_path, schema_person, multiLine = "True")

In [22]:
person_df.show(20, truncate=False)

+----+----------+-----------+----------+-------+---------+-------------+------+
|ID  |first_name|last_name  |fav_movies|salary |image_URL|date_of_birth|active|
+----+----------+-----------+----------+-------+---------+-------------+------+
|NULL|Drucy     |Poppy      |NULL      |1463.36|NULL     |1991-02-16   |true  |
|NULL|Emelyne   |Blaza      |NULL      |3006.04|NULL     |1991-11-02   |false |
|NULL|Max       |Rettie     |NULL      |1422.88|NULL     |1990-03-03   |false |
|NULL|Ilario    |Kean       |NULL      |3561.36|NULL     |1987-06-09   |true  |
|NULL|Toddy     |Drexel     |NULL      |4934.87|NULL     |1992-10-28   |true  |
|NULL|Oswald    |Petrolli   |NULL      |1153.23|NULL     |1986-09-02   |false |
|NULL|Adrian    |Clarey     |NULL      |1044.73|NULL     |1971-08-24   |false |
|NULL|Dominica  |Goodnow    |NULL      |1147.76|NULL     |1973-08-27   |false |
|NULL|Emory     |Slocomb    |NULL      |1082.11|NULL     |1974-06-08   |true  |
|NULL|Jeremias  |Bode       |NULL      |3472.63|NULL     |1997-08-02   |true  |
|NULL|Timothy   |Ervine     |NULL      |1147.61|NULL     |1971-06-02   |false |
|NULL|Leanora   |Gooder     |NULL      |1327.02|NULL     |1981-12-17   |false |
|NULL|Claiborn  |Denham     |NULL      |2623.33|NULL     |1996-03-07   |false |
|NULL|Ambrosi   |Vidineev   |NULL      |4550.88|NULL     |1989-07-20   |true  |
|NULL|Feodor    |Nancekivell|NULL      |2218.46|NULL     |2000-10-07   |false |
|NULL|Margaux   |Archbold   |NULL      |1013.75|NULL     |1988-07-29   |true  |
|NULL|Balduin   |Elstone    |NULL      |2302.26|NULL     |1974-07-20   |false |
|NULL|Alfie     |Hatliffe   |NULL      |3893.1 |NULL     |1989-06-21   |true  |
|NULL|Lura      |Follis     |NULL      |3331.26|NULL     |1998-11-03   |false |
|NULL|Maxi      |Cluet      |NULL      |4046.46|NULL     |1979-05-06   |false |
+----+----------+-----------+----------+-------+---------+-------------+------+
only showing top 20 rows

Columns and Expressions

In [25]:
from pyspark.sql.functions import col,expr

In [27]:
person_df.select(col("first_name"),col("last_name"),col("date_of_birth")).show(5, truncate = False)

+----------+---------+-------------+
|first_name|last_name|date_of_birth|
+----------+---------+-------------+
|Drucy     |Poppy    |1991-02-16   |
|Emelyne   |Blaza    |1991-11-02   |
|Max       |Rettie   |1990-03-03   |
|Ilario    |Kean     |1987-06-09   |
|Toddy     |Drexel   |1992-10-28   |
+----------+---------+-------------+
only showing top 5 rows

In [32]:
from pyspark.sql.functions import concat_ws

In [34]:
person_df.select(concat_ws(' ', col("first_name"), col("last_name")).alias("full_name")
                 , col("salary"),expr("salary * 0.10 + salary").alias("salary_increase")).show(10)

+----------------+-------+------------------+
|       full_name| salary|   salary_increase|
+----------------+-------+------------------+
|     Drucy Poppy|1463.36|1609.6959838867188|
|   Emelyne Blaza|3006.04|  3306.64404296875|
|      Max Rettie|1422.88|1565.1680053710938|
|     Ilario Kean|3561.36|3917.4961181640624|
|    Toddy Drexel|4934.87|  5428.35712890625|
| Oswald Petrolli|1153.23| 1268.552978515625|
|   Adrian Clarey|1044.73| 1149.202978515625|
|Dominica Goodnow|1147.76|1262.5360107421875|
|   Emory Slocomb|1082.11|1190.3209838867188|
|   Jeremias Bode|3472.63|  3819.89287109375|
+----------------+-------+------------------+
only showing top 10 rows

Filters and Where Conditions

In [37]:
person_df.filter('salary >= 3000').show(5)

+----+----------+---------+--------------------+-------+---------+-------------+------+
|  ID|first_name|last_name|          fav_movies| salary|image_URL|date_of_birth|active|
+----+----------+---------+--------------------+-------+---------+-------------+------+
|NULL|   Emelyne|    Blaza|[Musketeer, The, ...|3006.04|     NULL|   1991-11-02| false|
|NULL|    Ilario|     Kean|[Up Close and Per...|3561.36|     NULL|   1987-06-09|  true|
|NULL|     Toddy|   Drexel|[Walk in the Clou...|4934.87|     NULL|   1992-10-28|  true|
|NULL|  Jeremias|     Bode|[Farewell to Arms...|3472.63|     NULL|   1997-08-02|  true|
|NULL|   Ambrosi| Vidineev|[Wall Street: Mon...|4550.88|     NULL|   1989-07-20|  true|
+----+----------+---------+--------------------+-------+---------+-------------+------+
only showing top 5 rows

In [41]:
person_df.where((col("salary") >= 3000) & (col("active") == True)).show(5)

+----+----------+---------+--------------------+-------+---------+-------------+------+
|  ID|first_name|last_name|          fav_movies| salary|image_URL|date_of_birth|active|
+----+----------+---------+--------------------+-------+---------+-------------+------+
|NULL|    Ilario|     Kean|[Up Close and Per...|3561.36|     NULL|   1987-06-09|  true|
|NULL|     Toddy|   Drexel|[Walk in the Clou...|4934.87|     NULL|   1992-10-28|  true|
|NULL|  Jeremias|     Bode|[Farewell to Arms...|3472.63|     NULL|   1997-08-02|  true|
|NULL|   Ambrosi| Vidineev|[Wall Street: Mon...|4550.88|     NULL|   1989-07-20|  true|
|NULL|     Alfie| Hatliffe|     [Lord of Tears]| 3893.1|     NULL|   1989-06-21|  true|
+----+----------+---------+--------------------+-------+---------+-------------+------+
only showing top 5 rows

In [46]:
from pyspark.sql.functions import year

In [48]:
person_df.where((year("date_of_birth") == 2000) | (year("date_of_birth") == 2001)).show(10)

+----+----------+-----------+--------------------+-------+---------+-------------+------+
|  ID|first_name|  last_name|          fav_movies| salary|image_URL|date_of_birth|active|
+----+----------+-----------+--------------------+-------+---------+-------------+------+
|NULL|    Feodor|Nancekivell|   [Monsoon Wedding]|2218.46|     NULL|   2000-10-07| false|
|NULL|     Kelcy|     Wogdon|    [Iron Mask, The]|4512.51|     NULL|   2000-10-20|  true|
|NULL|      Redd|   Akenhead|[Century of the D...| 2470.9|     NULL|   2000-06-05| false|
|NULL|  Annabell|    Doughty|[Entertaining Ang...|2022.57|     NULL|   2000-09-03|  true|
|NULL|    Maxine|    Ewenson|[Savior, Beaver T...| 3363.5|     NULL|   2001-01-24| false|
|NULL|     Jobie|    Maughan|[Devils on the Do...| 3899.2|     NULL|   2000-02-07| false|
+----+----------+-----------+--------------------+-------+---------+-------------+------+

In [49]:
from pyspark.sql.functions import array_contains

In [50]:
person_df.where(array_contains(person_df.fav_movies,"Land of the Lost")).show(5)

+----+----------+---------+--------------------+-------+---------+-------------+------+
|  ID|first_name|last_name|          fav_movies| salary|image_URL|date_of_birth|active|
+----+----------+---------+--------------------+-------+---------+-------------+------+
|NULL|   Timothy|   Ervine|[Land of the Lost...|1147.61|     NULL|   1971-06-02| false|
+----+----------+---------+--------------------+-------+---------+-------------+------+

Distinct, Drop Duplicates, Order By

In [51]:
from pyspark.sql.functions import count, desc

In [52]:
person_df.select("active").distinct().show()

+------+
|active|
+------+
|  true|
| false|
+------+

In [55]:
(person_df.select(col("first_name"),year(col("date_of_birth")).alias("year"),col("active")).orderBy("year","first_name")).show(20)

+----------+----+------+
|first_name|year|active|
+----------+----+------+
|    Adrian|1971| false|
|   Feodora|1971|  true|
|       Sky|1971| false|
|   Timothy|1971| false|
|    Lucita|1972|  true|
|      Rodi|1972| false|
|  Sherline|1972|  true|
|     Toddy|1972|  true|
|  Dominica|1973| false|
|    Kelila|1973|  true|
|  Wolfgang|1973|  true|
|   Balduin|1974| false|
|     Emory|1974|  true|
|    Norean|1974|  true|
|    Janean|1975|  true|
|       Bev|1976|  true|
| Franciska|1976| false|
|    Bennie|1977| false|
|     Johny|1977| false|
|    Daveta|1978| false|
+----------+----+------+
only showing top 20 rows

In [56]:
drop_duplicates_df = (person_df.select(col("first_name"),year(col("date_of_birth")).alias("year"),col("active"))
                      .dropDuplicates(["year","active"])).orderBy("year","first_name")

In [57]:
drop_duplicates_df.show()

+----------+----+------+
|first_name|year|active|
+----------+----+------+
|    Adrian|1971| false|
|   Feodora|1971|  true|
|      Rodi|1972| false|
|  Sherline|1972|  true|
|  Dominica|1973| false|
|    Kelila|1973|  true|
|   Balduin|1974| false|
|     Emory|1974|  true|
|    Janean|1975|  true|
|       Bev|1976|  true|
| Franciska|1976| false|
|     Johny|1977| false|
|    Daveta|1978| false|
|   Guthrie|1978|  true|
|      Maxi|1979| false|
|   Melinda|1979|  true|
|    Carter|1980| false|
|   Loralyn|1980|  true|
|     Clive|1981|  true|
|   Leanora|1981| false|
+----------+----+------+
only showing top 20 rows

In [60]:
(person_df.select(col("first_name"),year(col("date_of_birth")).alias("year"),col("active"))
 .orderBy("year",ascending = False)).show(10)

+----------+----+------+
|first_name|year|active|
+----------+----+------+
|    Carlen|2002|  true|
|   Lorilee|2002| false|
|     Daron|2002|  true|
|    Virgie|2002|  true|
|    Maxine|2001| false|
|    Feodor|2000| false|
|     Kelcy|2000|  true|
|      Redd|2000| false|
|  Annabell|2000|  true|
|     Jobie|2000| false|
+----------+----+------+
only showing top 10 rows

Rows and Unions

In [61]:
from pyspark.sql import Row

In [62]:
person_row = Row(101,"Britney","Dang",["Harry Potter","Kungfu Panda 1"], 2500,"http://image.com","1991-01-11",True)

In [63]:
person_rows_list = [Row(102,"Brit","Dang",["Harry Potter","Kungfu Panda 2"], 2500,"http://image.com","1991-01-11",True),
                    Row(103,"Brittany","Dang",["Harry Potter","Kungfu Panda 3"], 2500,"http://image.com","1991-01-11",True)]

In [64]:
person_rows_list.append(person_row)

In [65]:
print(person_rows_list)

[<Row(102, 'Brit', 'Dang', ['Harry Potter', 'Kungfu Panda 2'], 2500, 'http://image.com', '1991-01-11', True)>, <Row(103, 'Brittany', 'Dang', ['Harry Potter', 'Kungfu Panda 3'], 2500, 'http://image.com', '1991-01-11', True)>, <Row(101, 'Britney', 'Dang', ['Harry Potter', 'Kungfu Panda 1'], 2500, 'http://image.com', '1991-01-11', True)>]

In [68]:
new_persons_df = spark.createDataFrame(person_rows_list,(["ID","first_name","last_name","fav_movies","salary","image_url","date_of_birth","active"]))

In [69]:
add_person_df = person_df.union(new_persons_df)
add_person_df.sort(desc("ID")).show(20)

+----+----------+-----------+--------------------+-------+----------------+-------------+------+
|  ID|first_name|  last_name|          fav_movies| salary|       image_URL|date_of_birth|active|
+----+----------+-----------+--------------------+-------+----------------+-------------+------+
| 103|  Brittany|       Dang|[Harry Potter, Ku...| 2500.0|http://image.com|   1991-01-11|  true|
| 102|      Brit|       Dang|[Harry Potter, Ku...| 2500.0|http://image.com|   1991-01-11|  true|
| 101|   Britney|       Dang|[Harry Potter, Ku...| 2500.0|http://image.com|   1991-01-11|  true|
|NULL|     Drucy|      Poppy|  [I giorni contati]|1463.36|            NULL|   1991-02-16|  true|
|NULL|   Emelyne|      Blaza|[Musketeer, The, ...|3006.04|            NULL|   1991-11-02| false|
|NULL|       Max|     Rettie|[The Forgotten Sp...|1422.88|            NULL|   1990-03-03| false|
|NULL|    Ilario|       Kean|[Up Close and Per...|3561.36|            NULL|   1987-06-09|  true|
|NULL|     Toddy|     Drexel|[Walk in the Clou...|4934.87|            NULL|   1992-10-28|  true|
|NULL|    Oswald|   Petrolli|[Wing and the Thi...|1153.23|            NULL|   1986-09-02| false|
|NULL|    Adrian|     Clarey|[Walking Tall, Pa...|1044.73|            NULL|   1971-08-24| false|
|NULL|  Dominica|    Goodnow|    [Hearts Divided]|1147.76|            NULL|   1973-08-27| false|
|NULL|     Emory|    Slocomb|[Snake and Crane ...|1082.11|            NULL|   1974-06-08|  true|
|NULL|  Jeremias|       Bode|[Farewell to Arms...|3472.63|            NULL|   1997-08-02|  true|
|NULL|   Timothy|     Ervine|[Land of the Lost...|1147.61|            NULL|   1971-06-02| false|
|NULL|   Leanora|     Gooder|[It's All About L...|1327.02|            NULL|   1981-12-17| false|
|NULL|  Claiborn|     Denham|[McCullin, Max Pa...|2623.33|            NULL|   1996-03-07| false|
|NULL|   Ambrosi|   Vidineev|[Wall Street: Mon...|4550.88|            NULL|   1989-07-20|  true|
|NULL|    Feodor|Nancekivell|   [Monsoon Wedding]|2218.46|            NULL|   2000-10-07| false|
|NULL|   Margaux|   Archbold|[And Now a Word f...|1013.75|            NULL|   1988-07-29|  true|
|NULL|   Balduin|    Elstone|      [Sisters, The]|2302.26|            NULL|   1974-07-20| false|
+----+----------+-----------+--------------------+-------+----------------+-------------+------+
only showing top 20 rows

Add, Rename, Drop Columns

In [70]:
from pyspark.sql.functions import round

In [75]:
person_df1 = person_df.withColumn("salary_increase", expr("salary*0.10+salary"))

In [76]:
person_df1.show(5)

+----+----------+---------+--------------------+-------+---------+-------------+------+------------------+
|  ID|first_name|last_name|          fav_movies| salary|image_URL|date_of_birth|active|   salary_increase|
+----+----------+---------+--------------------+-------+---------+-------------+------+------------------+
|NULL|     Drucy|    Poppy|  [I giorni contati]|1463.36|     NULL|   1991-02-16|  true|1609.6959838867188|
|NULL|   Emelyne|    Blaza|[Musketeer, The, ...|3006.04|     NULL|   1991-11-02| false|  3306.64404296875|
|NULL|       Max|   Rettie|[The Forgotten Sp...|1422.88|     NULL|   1990-03-03| false|1565.1680053710938|
|NULL|    Ilario|     Kean|[Up Close and Per...|3561.36|     NULL|   1987-06-09|  true|3917.4961181640624|
|NULL|     Toddy|   Drexel|[Walk in the Clou...|4934.87|     NULL|   1992-10-28|  true|  5428.35712890625|
+----+----------+---------+--------------------+-------+---------+-------------+------+------------------+
only showing top 5 rows

In [77]:
person_df2 = (person_df1.withColumnRenamed("fav_movies","movies"))

In [78]:
person_df2.show(5)

+----+----------+---------+--------------------+-------+---------+-------------+------+------------------+
|  ID|first_name|last_name|              movies| salary|image_URL|date_of_birth|active|   salary_increase|
+----+----------+---------+--------------------+-------+---------+-------------+------+------------------+
|NULL|     Drucy|    Poppy|  [I giorni contati]|1463.36|     NULL|   1991-02-16|  true|1609.6959838867188|
|NULL|   Emelyne|    Blaza|[Musketeer, The, ...|3006.04|     NULL|   1991-11-02| false|  3306.64404296875|
|NULL|       Max|   Rettie|[The Forgotten Sp...|1422.88|     NULL|   1990-03-03| false|1565.1680053710938|
|NULL|    Ilario|     Kean|[Up Close and Per...|3561.36|     NULL|   1987-06-09|  true|3917.4961181640624|
|NULL|     Toddy|   Drexel|[Walk in the Clou...|4934.87|     NULL|   1992-10-28|  true|  5428.35712890625|
+----+----------+---------+--------------------+-------+---------+-------------+------+------------------+
only showing top 5 rows

In [81]:
person_df3 = person_df2.withColumn("birth_year",year("date_of_birth")).withColumn("salary_x10",round(col("salary_increase"),2)).drop("salary_increase")

In [82]:
person_df3.show(5)

+----+----------+---------+--------------------+-------+---------+-------------+------+----------+----------+
|  ID|first_name|last_name|              movies| salary|image_URL|date_of_birth|active|birth_year|salary_x10|
+----+----------+---------+--------------------+-------+---------+-------------+------+----------+----------+
|NULL|     Drucy|    Poppy|  [I giorni contati]|1463.36|     NULL|   1991-02-16|  true|      1991|    1609.7|
|NULL|   Emelyne|    Blaza|[Musketeer, The, ...|3006.04|     NULL|   1991-11-02| false|      1991|   3306.64|
|NULL|       Max|   Rettie|[The Forgotten Sp...|1422.88|     NULL|   1990-03-03| false|      1990|   1565.17|
|NULL|    Ilario|     Kean|[Up Close and Per...|3561.36|     NULL|   1987-06-09|  true|      1987|    3917.5|
|NULL|     Toddy|   Drexel|[Walk in the Clou...|4934.87|     NULL|   1992-10-28|  true|      1992|   5428.36|
+----+----------+---------+--------------------+-------+---------+-------------+------+----------+----------+
only showing top 5 rows

Working with missing or bad data

In [83]:
bad_movies_list = [Row(None, None, None),
                   Row(None, None, 2020),
                   Row("John Doe", "Awesome Movie", None),
                   Row(None, "Awesome Movie", 2021),
                   Row("Mary Jane", None, 2019),
                   Row("Vikter Duplaix", "Not another teen movie", 2001)]

In [84]:
bad_movies_list

[<Row(None, None, None)>,
 <Row(None, None, 2020)>,
 <Row('John Doe', 'Awesome Movie', None)>,
 <Row(None, 'Awesome Movie', 2021)>,
 <Row('Mary Jane', None, 2019)>,
 <Row('Vikter Duplaix', 'Not another teen movie', 2001)>]

In [86]:
bad_movies_columns = ["actor_name","movie_title","produced_year"]

In [87]:
bad_movies_df = spark.createDataFrame(bad_movies_list,schema = bad_movies_columns)

In [88]:
bad_movies_df.show()

+--------------+--------------------+-------------+
|    actor_name|         movie_title|produced_year|
+--------------+--------------------+-------------+
|          NULL|                NULL|         NULL|
|          NULL|                NULL|         2020|
|      John Doe|       Awesome Movie|         NULL|
|          NULL|       Awesome Movie|         2021|
|     Mary Jane|                NULL|         2019|
|Vikter Duplaix|Not another teen ...|         2001|
+--------------+--------------------+-------------+

In [90]:
bad_movies_df.na.drop("all").show()

+--------------+--------------------+-------------+
|    actor_name|         movie_title|produced_year|
+--------------+--------------------+-------------+
|          NULL|                NULL|         2020|
|      John Doe|       Awesome Movie|         NULL|
|          NULL|       Awesome Movie|         2021|
|     Mary Jane|                NULL|         2019|
|Vikter Duplaix|Not another teen ...|         2001|
+--------------+--------------------+-------------+

In [92]:
bad_movies_df.filter(col("actor_name").isNull() !=True).show()

+--------------+--------------------+-------------+
|    actor_name|         movie_title|produced_year|
+--------------+--------------------+-------------+
|      John Doe|       Awesome Movie|         NULL|
|     Mary Jane|                NULL|         2019|
|Vikter Duplaix|Not another teen ...|         2001|
+--------------+--------------------+-------------+

In [95]:
bad_movies_df.describe("produced_year").show()

+-------+-----------------+
|summary|    produced_year|
+-------+-----------------+
|  count|                4|
|   mean|          2015.25|
| stddev|9.535023160258536|
|    min|             2001|
|    max|             2021|
+-------+-----------------+

Work with user Defined Functions:

In [96]:
from pyspark.sql.functions import udf

In [97]:
students_list = [("Britney",90),
                 ("Mike",100),
                 ("Chloe",98)]

In [98]:
students_column = ["name","score"]

In [99]:
students_df = spark.createDataFrame(students_list,schema=students_column)

In [101]:
students_df.show()

+-------+-----+
|   name|score|
+-------+-----+
|Britney|   90|
|   Mike|  100|
|  Chloe|   98|
+-------+-----+

In [103]:
def letterGrade(score:int):
    grade = ''
    if score >= 100:
        grade = "A"
    elif score >= 90:
        grade = "B"
    elif score >= 80:
        grade = "C"
    elif score >= 70:
        grade = "D"
    else:
        grade = "F"
    return grade

In [104]:
print(letterGrade(75))

D

In [105]:
letterGradeUDF = udf(letterGrade)

In [106]:
students_df.select("name","score",letterGradeUDF(col("score")).alias("grade")).show()

Py4JJavaError: An error occurred while calling o367.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 53.0 failed 1 times, most recent failure: Lost task 0.0 in stage 53.0 (TID 80) (10.0.0.63 executor driver): org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:203)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:174)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:67)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.net.DualStackPlainSocketImpl.waitForNewConnection(Native Method)
	at java.net.DualStackPlainSocketImpl.socketAccept(DualStackPlainSocketImpl.java:135)
	at java.net.AbstractPlainSocketImpl.accept(AbstractPlainSocketImpl.java:409)
	at java.net.PlainSocketImpl.accept(PlainSocketImpl.java:199)
	at java.net.ServerSocket.implAccept(ServerSocket.java:545)
	at java.net.ServerSocket.accept(ServerSocket.java:513)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:190)
	... 41 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2856)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2792)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2791)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2791)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1247)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:3060)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2994)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2983)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:989)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2398)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2419)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2438)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:530)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:483)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:61)
	at org.apache.spark.sql.Dataset.collectFromPlan(Dataset.scala:4332)
	at org.apache.spark.sql.Dataset.$anonfun$head$1(Dataset.scala:3314)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$2(Dataset.scala:4322)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:546)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:4320)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:4320)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:3314)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:3537)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:280)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:315)
	at sun.reflect.GeneratedMethodAccessor77.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:203)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:174)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:67)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.net.DualStackPlainSocketImpl.waitForNewConnection(Native Method)
	at java.net.DualStackPlainSocketImpl.socketAccept(DualStackPlainSocketImpl.java:135)
	at java.net.AbstractPlainSocketImpl.accept(AbstractPlainSocketImpl.java:409)
	at java.net.PlainSocketImpl.accept(PlainSocketImpl.java:199)
	at java.net.ServerSocket.implAccept(ServerSocket.java:545)
	at java.net.ServerSocket.accept(ServerSocket.java:513)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:190)
	... 41 more